<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>BuxferSubmit</string>
	<key>CFBundleIdentifier</key>
	<string>com.brunomlopes.widget.BuxferSubmit</string>
	<key>CFBundleName</key>
	<string>BuxferSubmit</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CloseBoxInsetX</key>
	<integer>15</integer>
	<key>CloseBoxInsetY</key>
	<integer>15</integer>
	<key>Height</key>
	<integer>172</integer>
	<key>MainHTML</key>
	<string>BuxferSubmit.html</string>
	<key>Plugin</key>
	<string>KeyChainAccess.widgetplugin</string>
	<key>Width</key>
	<integer>314</integer>
</dict>
</plist>
